@layer theme {
  /*
    Establishing custom properties for the background graidnet colors.
    Initial values need to be primitive color values, not variables.
    The values default to the light theme; dark theme values are set below.
  */
  @property --bg-gradient-start {
    syntax: "<color>";
    inherits: true;
    initial-value: oklch(95% 0.005 106.5); /* --color-neutral-100 */
  }

  @property --bg-gradient-end {
    syntax: "<color>";
    inherits: true;
    initial-value: oklch(89% 0.005 106.5); /* --color-neutral-200 */
  }

  /*
    Theme setup & switching.
    These definitions aren't nested in the main :root selector strictly
    because their syntax messages with syntax highlighting, which annoys me.
  */
  :root {
    /* Theme - light by default will follow the UA preference */
    color-scheme: light dark;

    /* User-selected light theme */
    &[data-theme="light"] {
      color-scheme: light;

      --bg-gradient-start: var(--color-neutral-100);
      --bg-gradient-end: var(--color-neutral-200);
    }
    /* User-selected dark theme */
    &[data-theme="dark"] {
      color-scheme: dark;

      --bg-gradient-start: var(--color-dark-700);
      --bg-gradient-end: var(--color-dark-600);
    }
  }

  :root {
    /* Token definitions */

    /* Colors */
    --surface-base: light-dark(var(--color-neutral-100), var(--color-dark-700));

    --accent: var(--color-teal);

    --footer-bg: light-dark(var(--color-dark-500), var(--color-dark-700));
    --footer-text: var(--color-neutral-100);

    --text-primary: light-dark(var(--color-dark-700), var(--color-neutral-100));
    --text-on-accent: #fff;
    --text-as-accent: var(--accent);

    --nav-text-color: var(--text-primary);

    /* 
      Background gradient
      Subtle glow effect that changes with theme
    */

    --bg-gradient: radial-gradient(
      circle in oklch,
      var(--bg-gradient-start) 0%,
      var(--bg-gradient-end) 100%
    );

    /* Structural */

    --gutter: var(--space-m);
    --border-color: light-dark(var(--color-neutral-400), var(--color-dark-500));

    /* Typography */

    --font-base:
      var(--font-Montserrat), Segoe UI, Roboto, Helvetica Neue, Arial,
      sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

    --font-size-h1: var(--size-step-6);
    --font-size-h2: var(--size-step-5);
    --font-size-h3: var(--size-step-4);
    --font-size-h4: var(--size-step-3);
    --font-size-h5: var(--size-step-2);
    --font-size-h6: var(--size-step-1);

    /* Cards */
    --card-border-color: var(--border-color);
    --card-bg: light-dark(var(--color-neutral-200), var(--color-dark-700));
    --card-bg-raised: light-dark(
      var(--color-neutral-200),
      var(--color-neutral-300)
    );
  }

  /*
    Global styles
    Low-specificity, global styles
  */

  body {
    background: var(--bg-gradient);
    color: var(--text-primary);
    font-size: var(--size-step-1);
    font-family: var(--font-base);
    font-optical-sizing: auto;
    line-height: var(--leading-standard);
    font-size-adjust: from-font;
    transition:
      --bg-gradient-start var(--transition-fade),
      --bg-gradient-end var(--transition-fade),
      color var(--transition-fade);
  }

  /* Accessibility */

  /* Firefox is the only browser that doesn't outline the whole element unless you
    make it display: inline-block. That in itself causes multiple flow issues so
     we can detect it, using its own vendor prefix and reduce focus offset
  */

  @supports (-moz-appearance: none) {
    :root {
      --focus-offset: 0.08em;
    }
  }

  /* Favour focus-visible over focus so click events don't trigger focus styles */

  :focus {
    outline: none;
  }

  :focus-visible {
    outline: 2px solid var(--focus-color, currentColor);
    outline-offset: var(--focus-offset, 0.2lh);
  }

  ::selection {
    color: light-dark(var(--color-neutral-100), var(--color-dark-700));
    background: light-dark(var(--color-dark-700), var(--color-neutral-100));
  }

  /* Base typography */

  :where(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) {
    font-weight: 700;
  }

  :where(h1, .h1) {
    font-size: var(--font-size-h1, var(--size-step-6));
  }

  :where(h2, .h2) {
    font-size: var(--font-size-h2, var(--size-step-5));
  }

  :where(h3, .h3) {
    font-size: var(--font-size-h3, var(--size-step-4));
  }

  :where(h4, .h4) {
    font-size: var(--font-size-h4, var(--size-step-3));
  }

  :where(h5, .h5, h6, .h6) {
    font-size: var(--font-size-h5, var(--size-step-2));
  }

  /*
    Lists
    <ul> without a class are assumed to be displayed as a list
  */

  :where(ul:not([class]), ol:not([class])) {
    padding-inline-start: 1.8ch;
    list-style-type: disc;

    & > li {
      padding-inline-start: var(--space-xs);
    }
  }

  :where(ol:not([class])) {
    list-style-type: decimal;
  }

  /* Buttons */

  :where(.button) {
    --button-bg: var(--accent);
    --button-text: var(--text-on-accent);
    --button-x-padding: 2em;
    --button-y-padding: 1.1em;
    --focus-color: var(--accent);

    line-height: var(--leading-flat);
    position: relative;
    cursor: pointer;
    background: var(--button-bg);
    border: 1px solid var(--button-bg);
    border-radius: var(--radius-s);
    color: var(--button-text);
    padding: var(--button-y-padding) var(--button-x-padding);
    text-transform: uppercase;
    text-decoration: none;
    font-size: var(--size-step-00);
    font-weight: var(--font-bold);
    text-align: center;

    &:hover {
      filter: brightness(90%);
    }

    &:active {
      transform: scale(99%);
    }

    @media (prefers-reduced-motion: no-preference) {
      transition: filter var(--transition-base);
    }
  }

  /* Prose */

  :where(.prose) {
    & h1 {
      max-width: 20ch;
    }

    & h2 {
      max-width: 35ch;
    }

    & h3 {
      max-width: 40ch;
    }

    & :is(p, li, dl, figcaption, blockquote) {
      max-width: 70ch;
    }
  }

  /* 
    FLOW COMPOSITION 
    Like the Every Layout stack: https://every-layout.dev/layouts/stack/
    Info about this implementation: https://piccalil.li/quick-tip/flow-utility/ 
  */

  :where(.flow > * + *) {
    margin-top: var(--flow-space, 1em);
  }

  /*
    AUTO GRID
    Related Every Layout: https://every-layout.dev/layouts/grid/
    More info on the flexible nature: https://piccalil.li/tutorial/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/
    A flexible layout that will create an auto-fill grid with
    configurable grid item sizes

    CUSTOM PROPERTIES AND CONFIGURATION
    --gutter (var(--space-m)): This defines the space
    between each item.

    --grid-min-item-size (14rem): How large each item should be
    ideally, as a minimum.

    --grid-placement (auto-fill): Set either auto-fit or auto-fill
    to change how empty grid tracks are handled
  */

  :where(.grid) {
    display: grid;
    grid-template-columns: repeat(
      var(--grid-placement, auto-fill),
      minmax(var(--grid-min-item-size, 16rem), 1fr)
    );
    gap: var(--gutter, var(--space-l));
  }

  /*
    WRAPPER COMPOSITION 
    A common wrapper/container
  */

  :where(.wrapper) {
    margin-inline: auto;
    max-inline-size: clamp(16rem, var(--wrapper-max-width, 100vw), 80rem);
    padding-inline: var(--gutter);
    position: relative;
  }
}
